.jumbotron {
  padding-top: 2rem;
  padding-bottom: 30px;
  background-image: url('foto\ bg.jpg') ;
  background-size: cover;
  text-align: center;
}

.card {
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  overflow: hidden;
  border-radius: 15px;
}
  

.about {
  padding-top: 50px;
}

#card {
  padding-top: 250px;
}

#contact {
  padding-top: 150px;
}